@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f4f4f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home, .rightSidebar {
  /* Firefox - thinnest possible */
  scrollbar-width: none;
  scrollbar-color: #bdbdbd transparent;

  /* Webkit browsers - 1px width */
  &::-webkit-scrollbar {
    width: 1px;
    /* position: absolute; */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    /* Remove border-radius for 1px width to make it more visible */
    border-radius: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-button:single-button {
    display: none;
  }
}

 :root, .dialog{
  /* Firefox - thinnest possible */
  scrollbar-width: thin;
  scrollbar-color: #bdbdbd transparent;
  /* Webkit browsers - 1px width */
  &::-webkit-scrollbar {
    position: absolute;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    /* Remove border-radius for 1px width to make it more visible */
    border-radius: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-button:single-button {
    display: none;
  }
}

.mobilenav{
  box-shadow: 0px -1px 10px #dddddd;
}